/*
 * Page Setup
 */

body {
  font-family:'Lato', sans-serif;
  color: #444;
  font-weight: 300;
  background-color: purple;
}

.form-logo {
  margin: 4% auto 20px auto;
  width: 175px;
}

img {
  width: 100%;
}

.hr {
  width:100%;
  border-bottom:1px solid #ddd;
  margin: 15px auto;
}

.error {
  text-align: center;
}

.newpage {
  text-align: center;
  padding:10px;
}

.newpage h2 {
  font-weight: 500;
}

/*
 * Form Setup
 */
.container {
  width: 500px;
  margin: 0 auto 5% auto;
  background-color: #fdfdfd;
  border-radius: 3px;
  padding: 15px;
  opacity: 0.9;
}

.container form {
  width:90%;
  margin:auto;
}


/*
 * Specific Form Styling
 */
.pure-form-stacked input[type=text],
.pure-form-stacked input[type=password].signin,
.pure-form-stacked input[type=email].signin,
.pure-form-stacked .pure-checkbox,
.pure-form-stacked .pure-button,
.pure-form legend {
  margin: 5px auto;
  text-align: center;
}

.pure-form legend {
  margin-bottom: 15px;
  font-size: 1.4em;
}

.pure-form-stacked .signin {
  margin-left: 37.5%;
}

.pure-form .pure-control-group label.inline,
.pure-form .pure-controls label {
  margin: 0 5px 0 0;
  text-align: left;
  width: auto;
  font-size: 0.9em;
}

.pure-form input {
  margin: 4px inherit;
}

.pure-form input[type=checkbox],
.pure-form input[type=radio] {
  margin: 8px inherit;
}

.switchforms {
  font-size: 0.9em;
  text-align: center;
  margin: 4px auto;
}

.teaminfo {
  text-align: center;
}


/*
 * Responsiveness
 */
@media(max-width:560px) {
  .container {
    width: 400px;
    font-size: smaller;
  }
}

@media(max-width:440px) {
  .container {
    width: 300px;
    font-size: smaller;
  }
}
