body {
  background-color: purple;
}

.logo {
  margin: 15vh auto 2vh auto;
  width: 150px;
}

img {
  width: 100%;
}

.container {
  width: 350px;
  margin: auto;
  background-color: #fdfdfd;
  border-radius: 3px;
  padding: 15px;
}
.pure-form-stacked input[type=text],
.pure-form-stacked input[type=password],
.pure-form-stacked input[type=email],
.pure-form-stacked .pure-checkbox,
.pure-form-stacked .pure-button,
.pure-form-stacked legend {
  margin: 5px auto;
  text-align: center;
}

.pure-form-stacked legend {
  margin-bottom: 15px;
}
