html, button, input, select, textarea, a,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  font-family: "Oxygen", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

hr {
  border-width: 1px;
  border-style: solid;
  color: #444;
}

.favicons {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.mobile-favicons-banner a {
  text-decoration: none;
}

.twocol {
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 30px;
}

#twitter {
  width: 50px;
  height: auto;
  opacity: 0.5;
  margin-left: 0.3em;
  margin-bottom: 0.75em;
}

#twitter_fixed {
  width: 50px;
  height: auto;
  position: fixed;
  top: 12px;
  right: 20px;
  opacity: 0.8;
}

#facebook {
  width: 45px;
  height: auto;
  opacity: 0.5;
  margin-right: 0.3em;
  margin-bottom: 0.75em;
}

#facebook_fixed {
  width: 45px;
  height: auto;
  position: fixed;
  top: 10px;
  right: 90px;
  opacity: 0.8;
}

.header {
  position: relative;
  background: url('../img/bg0.jpg') no-repeat center center fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  height: 100vh;
  min-height: 600px;
  max-height: 1500px;
}

.wrapper {
  background: rgba(50, 29, 97, 0.15);
  height: 100%;
}

#logo {
  padding-top: 6em;
  width: 80%;
  max-width: 600px;
  height: auto;
}

.banner {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: rgba(13, 163, 159, 0.7);
  color: white;
  font-size: 18px;
}

.banner > h2 {
  padding: 0.25em;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}

.signup {
  background: rgb(236, 69, 69);
  color: white;
}

.size {
  font-size: 125%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 1.25em;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.content {
  padding: 1.25em;
}

#about {
  background-color: #e0e0e0;
  text-align: center;
}

#signup {
  background-color: #e0e0e0;
  text-align: center;
}

#hire {
  background-color: #f0f0f0;
  text-align: center;
}

#hire p {
  text-align: left;
}

/*
#hire a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.25em;
  color: #000000;
}
*/

#schedule {
  background-color: #f0f0f0;
  text-align: center;
}

#schedule p {
  text-align: left;
}

#faq {
  background-color: #0DA39F;
  text-align: center;
}

#faq dl, dd, dt {
  text-align: left;
  margin: 10px 0 10px 0;
  font-size: 1em;

}

#faq dl {
  columns: 2;
}


#faq dt {
  padding-bottom: 5px;
  font-size: 1.125em;
  font-weight: 700;
}

#sponsor {
  background-color: #FFF;
  text-align: center;
}

.footer {
  background-color: #000;
  color: #bbb;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: white;
}

/* ------------------------------------------------------------
   sponsors
   ------------------------------------------------------------ */

   .unit-content-sponsors {
    font: 14px Raleway;
    font-weight: 700;
    line-height: 16px;
  }
  .unit-content-sponsors img {
    /*border: 1px solid #ccc;*/
    margin-bottom: 20px;
  }

  .sponsors-full p,
  .sponsors-large p,
  .sponsors-medium p,
  .sponsors-small p,
  .sponsors-tiny p {
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
  column-break-inside:avoid;
    display:inline-block;
    width:48%;
  }
  
  .sponsors-medium {
  margin-left:auto;
  margin-right:auto;  
  }

  .sponsors-full img,
  .sponsors-large img,
  .sponsors-medium img,
  .sponsors-small img,
  .sponsors-tiny img {
    -webkit-filter: grayscale(100%);
  }

  .sponsors-full img:hover,
  .sponsors-large img:hover,
  .sponsors-medium img:hover,
  .sponsors-small img:hover,
  .sponsors-tiny img:hover {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  }

  .sponsors-full img {
    display: block;
    width: 100%;
  }
  .sponsors-large img {
    display: block;
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .sponsors-medium img {
    display:block;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .sponsors-small img {
    display: block;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .sponsors-tiny img {
    width:50%;
    display: inline-block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  a.sponsor-link:link {
    
  }
  
  a.sponsor-link:visited {
  
  }
  
  .sponsors-box-full,
  .sponsors-box-large,
  .sponsors-box-medium,
  .sponsors-box-small,
  .sponsors-box-tiny {
  display:inline-block;
    margin-bottom:20px;
  width:48%;
  vertical-align:top;
  }
  
  .sponsors-box-small {
  margin-bottom:10px;  
  }
  .sponsors-box-tiny {
  margin-bottom:0px;  
  }
  
  .sponsors-box-full,
  .sponsors-box-large {
  display:block;
  width:100%;  
  }
  
  .sponsors-box-wrapper {
    display:none;
  }
  
  .sponsors-box-arrow {
    width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-bottom: 20px solid #e5e5e5;
  margin: 0 auto; 
  margin-bottom:-5px;
  margin-top:-10px;
  }
  
  .sponsors-box-blurb {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background:#e5e5e5;
    padding:10px;
    font: 15px Source Sans Pro
  }


.separator:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color:#444;
  margin: 20px 0;
}
