/*
 * Page Setup
 */

body {
  background-color: purple;
  font-weight: 300;
  color: #444;
}

.logo {
  margin: 4% auto 20px auto;
  width: 175px;
}

img {
  width: 100%;
}


/*
 * Form Setup
 */
.container {
  width: 500px;
  margin: 0 auto 5% auto;
  background-color: #fdfdfd;
  border-radius: 3px;
  padding: 15px;
  opacity: 0.9;
  text-align: center;
}


/*
 * Specific Form Styling
 */
.pure-form-stacked input[type=text],
.pure-form-stacked input[type=password],
.pure-form-stacked input[type=email],
.pure-form-stacked .pure-checkbox,
.pure-form-stacked .pure-button,
.pure-form legend {
  margin: 5px auto;
  text-align: center;
}

.pure-form legend {
  margin-bottom: 15px;
  font-size: 1.4em;
}

.pure-form-stacked .signin {
/*  margin-left: 37.5%;*/
}


.pure-control-group label.inline {
  margin: 0 10px 0 0;
  text-align: left;
  width: auto;
  font-size: 0.9em;
}

.pure-form input {
  margin: 4px inherit;
}

.pure-form input[type=checkbox],
.pure-form input[type=radio] {
  margin: 8px inherit;
}

.switchforms {
  font-size: 0.8em;
}


/*
 * Responsiveness
 */
@media(max-width:560px) {
  .container {
    width: 400px;
    font-size: smaller;
  }
}

@media(max-width:440px) {
  .container {
    width: 300px;
    font-size: smaller;
  }
}
