body {
  color: #555;
  font-family: 'Lato';
}
p {
  line-height: 1.6em;
  margin:2px;
}
/*
 * -- Layout Styles --
 */

.content {
  margin: 0 auto;
}
.l-box {
  padding: 0.5em 2em;
}
/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */

.pure-menu {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}
/*
 * -- BANNER --
 * The top banner with the headings.
 */

.banner {
  background: transparent url('../img/hero_blur.png') 0 0 no-repeat fixed;
  background-size: cover;
  height: 80vh;
  width: 100%;
  margin-bottom: 1.5em;
}
.banner-head {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  vertical-align: top;
  font-size: 2em;
  color: white;
}

.logo {
  width: 140px;
  height: auto;
  margin: 8vh auto 0 auto;
}

.logo img {
  width: 100%;
}

.title {
  border-radius: 3px;
  width: 400px;
  margin: auto;
  padding: 12px;
  background-color: #fff;
  opacity: 0.8;
  color: #444;
}
.title h1 {
  font-family: 'Questrial', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  margin: 0;
}
.title h2 {
  font-weight: 300;
  font-size: 0.5em;
  margin: 0;
}

.emailbutton {
  border-radius: 3px;
  background-color: #fff;
  opacity: 0.8;
  width: 340px;
  margin: 20px auto;
  font-size: .5em;
  color: #444;
  text-align: center;
  padding: 5px;
}

#mc_embed_signup {
  font: 'Lato', Helvetica, sans-serif;
  margin: 10px 5px;
}

#mc_embed_signup input {
  font-size: 0.8em;
  border: none;
  color: #444;
  text-align: center;
}

#mc_embed_signup input:focus {
  outline: none;
}

#mc_embed_signup input.email {
  width: 60%;
  border-bottom: 1px solid #888;
}

#mc_embed_signup input.button {
  height: 40px;
  border-radius: 3px;
  background-color: #BBB;
}

#mc_embed_signup input.button:focus {
  border: 1px solid #666;
}

/*
 * -- Navigation Under Bannder --
 *
 */

.banner-footer {
  position: absolute;
  top: 70vh;
  height: 10vh;
  width: 100%;
  background-color: #fff;
  opacity: 0.8;
  text-align: center;
}

.navtab a,
.navtab p {
  position: absolute;
  text-decoration: none;
  color: #555;
  bottom: 15px;
  font-size: 1.4em;
  margin: 0;
  line-height: 1em;
}
/*
 * -- Content --
 *
 */

.content {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 1.5em;
}
.content-title {
  text-align: center;
/*  line-height: 1.8em;*/
  border-bottom: 1px solid #555;
}
.about {

}
.about-img {
  overflow: hidden;
  height: 300px;
}
.l-box img {
  width: 100%;
}
.schedule {
  background-color: #eee;
}
.faq {
  font-size:1em;
}
.information-head {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 5px;
}
.sponsor {
  background-image: url(../img/stickers_blur.png);
  background-size: cover;
  color: #fff;
}

.sponsor h1 {
  color: #eee;
  border-bottom: 1px solid #eee;
}
.sponsor p {
  text-align: center;
}
.tier {
  text-align: center;
}
.sponsor-logo {
  width: 100%;
}

.footer {
  background: #444;
  color: #aaa;
  text-align: center;
}
.footer a {
  color: #ddd;
}
/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */

@media (min-width: 319px) {
  .banner {
    background-image: url(../img/hero_blur_sm.png)
  }
  .banner-head {
    font-size: 2.4em;
  }
  .title {
    font-size: smaller;
    width: 300px;
  }
  .emailbutton {
    width: 300px;
  }
  .banner-footer {
    font-size: 1em;
  }
  .content {
    padding: 0.5em 0.5em;
  }
  .l-box {
    padding: 0.5em 0.5em;
  }
  .content-title {
    font-size: 1.6em;
  }
  .sponsor p {
    font-size: 0.8em;
  }
  .sponsor {
    background-image: url(../img/stickers_blur_sm.png);
  }
}

@media(min-width: 480px) {
  .banner {
    background-image: url(../img/hero_blur_md.png);
  }
  .banner-head {
    font-size: 3em;
  }
  .title {
    width: 400px;
  }
  .emailbutton {
    width: 340px;
  }
  .banner-footer {
    font-size: 1.2em;
  }
  .content-title {
    font-size: 1.8em;
  }
  .sponsor p {
    font-size: 1em;
  }
  .sponsor {
    background-image: url(../img/stickers_blur_md.png);
  }
}

/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */

@media(min-width: 767px) {
  .banner {
    background-image: url(../img/hero_blur.png)
  }
  .title {
    width: 400px;
  }
  .sponsor {
    background-image: url(../img/stickers_blur.png);
  }
  .banner-footer {
    font-size: 1.5em;
  }
  .content {
    padding: 0.5em 2em;
  }
  .content-title {
    font-size: 2.0em;
  }
}

@media(max-height: 625px) {
  .banner {
    height: 100vh;
  }
  .banner-footer {
    height: 10vh;
    top: 90vh;
  }

}
