/*----------------------------------------------------------------------------*/
/* Global reset                                                               */
/*----------------------------------------------------------------------------*/
html, body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  /* position: fixed; */
  width: 430%;
  height: 100%;
  left: 0%;

  transition: left 1s ease-in-out;
  background: #fd9c65;
}

/*----------------------------------------------------------------------------*/
/* Top bar & logo                                                             */
/*----------------------------------------------------------------------------*/
#topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    width: 100vw;
    background: #fff;
    z-index: 1;
}

#topbar > h1 {
  margin-left: 21%;
  font-family: 'Montserrat', 'Helvetica', 'sans-serif';
  font-weight: 300;
}

/*----------------------------------------------------------------------------*/
/* Menu bar                                                                   */
/*----------------------------------------------------------------------------*/
#menu {
    position: fixed;
    width: 15%;
    min-width: 200px;
    height: 100vh;
    left: 5%;
    color: #000;
    background: #fff;
    margin-top: 70px;
    z-index: 1;
}

/*----------------------------------------------------------------------------*/
/* View boxes (separate logical screens)                                      */
/*----------------------------------------------------------------------------*/
.box {
  display: inline-block;
  vertical-align: top;
  width: 100vw;
  height: 100vh;
  background: #bbb;
  overflow: scroll;
}

.box > div {
  margin: 70px 0;
  margin-left: 20%;
}

.space_right {
  margin-right: 2.325%;
}

/*----------------------------------------------------------------------------*/
/* Bottom bar & sponsors                                                      */
/*----------------------------------------------------------------------------*/
#botbar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 70px;
    width: 100%;
    background: #fff;
    z-index: 1;
}
