/*----------------------------------------------------------------------------*/
/* Global reset                                                               */
/*----------------------------------------------------------------------------*/
html, body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  position: fixed;
  width: 430%;
  height: 100%;
  left: 0%;

  transition: left 1s ease-in-out;
  background: #fd9c65;
}

/*----------------------------------------------------------------------------*/
/* Top bar & logo                                                             */
/*----------------------------------------------------------------------------*/
#topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    width: 100vw;
    background: #fff;
    z-index: 1;
}

#topbar > h1 {
  margin-left: 18%;
  font-family: 'Montserrat', 'Helvetica', 'sans-serif';
  font-weight: 300;
}

/*----------------------------------------------------------------------------*/
/* Menu bar                                                                   */
/*----------------------------------------------------------------------------*/
#menu {
    position: fixed;
    width: 15%;
    min-width: 200px;
    height: 100vh;
    left: 3%;
    color: #000;
    background: #fff;
    margin-top: 70px;
    z-index: 1;
}

#menu > ul > li {
  padding-bottom: 15%;
  font-size: 1em;
}


/*----------------------------------------------------------------------------*/
/* View boxes (separate logical screens)                                      */
/*----------------------------------------------------------------------------*/
.box {
  display: inline-block;
  vertical-align: top;
  width: 100vw;
  height: 100vh;
  background: #fff; /* #bbb; */
  overflow: scroll;
}

.box > div {
  margin: 70px 0;
  margin-left: 18%;
}

.space_right {
  margin-right: 2.325%;
}

.card {
  min-height: 100vh;
  margin: auto 1%;
  float: left;
  min-width: 300px;
  background-color: rgb(210,210,210); /* find a prettier color */
}

.pic {
  height: 100vh;
  width: 40%;
  margin-left: 0;
}

.text {
  width: 50%;
  padding: 1%;
  margin-right: 0;
}

.label {
  text-align: center;
  font-weight: 300;
  font-size: 2em;
  margin-top: 0;
}


/*----------------------------------------------------------------------------*/
/* Bottom bar & sponsors                                                      */
/*----------------------------------------------------------------------------*/
#botbar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
    background: #fff;
    z-index: 1;
}
