<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="HackPrinceton's Autumn 2014 Website.">
  <title>HackPrinceton &ndash; Autumn 2014</title>
  <meta property="og:image" content="/img/logo.png" />
  <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="icon" sizes="16x16 32x32" href="/img/favicon.png?v=2">
</head>

<body>
  {{> landing}}
</body>

<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>
