<template name="signin">
<div class="logo">
   <img src="img/logo_white.png" alt="A Tiger's Tear">
</div>
  <div class="container">
    <form class="pure-form pure-form-stacked">
        <legend>My Account</legend>
        <input id="email" type="email" placeholder="Email" class="signin">
        <input id="password" type="password" placeholder="Code" class="signin">
        <label for="remember" class="pure-checkbox">
          <input id="remember" type="checkbox">Remember me
        </label>

        <button type="submit" class="pure-button pure-u-1-4 signin">Sign in</button>
    </form>
    <p class="switchforms">First time here? Sign up <a href="signup.html">here</a>!</p>
  </div>
</template>
