@import url(http://fonts.googleapis.com/css?family=Raleway:500);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic);

.unit,
.fold,
.footer {
  margin: 0;
  width: 100%;
  clear: both;
}

.fold-content {
  position: relative;
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

.fold-image {
  padding: 10px;
}

.unit-content,
.footer-content {
  position: relative;
  margin: 0 auto;
  width: 800px;
}

h1, h2, h3, h4, h5 {
  font-family: Raleway;
  font-weight: 500;
  text-align: center;
}
h1 { font-size: 84px; }
h2 { font-size: 28px; }
h3 { font-size: 16px; }
h4 { font-size: 15px; }

button {
  background-color: rgba(255,255,255,0.1);
  outline: none;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 4px 7px;
}

button:hover,
button:active {
  background-color: rgba(255,255,255,0.5);
}

.separator:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin: 20px 0;
}

/* ------------------------------------------------------------
   fold
   ------------------------------------------------------------*/

   .fold {
    position: relative;
    height: 600px;
    background-size: cover;
    background-position: center;
  }

  .fold-wrapper {
    position: absolute;
    bottom: 50px;
    width: 100%;
    color: white;
  }

  .fold h1 {
    margin: 0 auto;
    margin-left: -5px;
    padding: 0;
    line-height: 84px;
    font-weight: 400;
  }

  .fold h2 {
    margin: 5px auto;
  }

  .fold h3 {
    margin: 10px auto;
    padding-bottom: 20px;
  }

  .fold a {
    color: #fff;
    border-bottom: 1px dotted rgba(255,255,255,0.5);
  }

  .fold a:hover,
  .fold a:active {
    border-bottom: 1px solid rgba(255,255,255,0.5);
    text-decoration: none;
  }

  .fold a.fold-link {
   font: 36px Raleway;
   background: #F36F21;
   padding: 20px 26px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 16px;
   color: #ffffff;
   text-decoration: none;
   vertical-align: middle;
 }
 
 .fold a#fold-link-fb {
  background:#3B5998;
 }
 
 .fold a.fold-link:hover {
   border-top-color: #e89a6d;
   background: #e89a6d;
   color: #ffffff;
 }
 .fold a.fold-link:active {
   border-top-color: #f36e21;
   background: #f36e21;
 }
 
.fold a#fold-link-fb:hover {
  background: rgb(109, 132, 180)
 }

/* ------------------------------------------------------------
   units
   ------------------------------------------------------------*/

   .unit {
    padding: 30px 0;
    font: 15px Source Sans Pro;
    line-height: 22px;
  }

  .unit-shaded {
    background-color: #e5e5e5;
  }

  .tricol {
    -moz-column-count: 3;
    -moz-column-gap: 30px;
    -webkit-column-count: 3;
    -webkit-column-gap: 30px;
  }

  .twocol {
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
  }

  .unit h1 {
    font: 24px Raleway;
    margin-top: 0;
    margin-bottom: 15px;
  }

/* ------------------------------------------------------------
   profiles
   ------------------------------------------------------------*/

   .profile {
    position: relative;
  }

  .profile img {
    display: block;
    float: left;
    width: 15%;
    border-radius: 50%;
  }

  .profile p {
    display: block;
    float: left;
    width: 85%;
    margin-left: 10px;
    margin-right: -10px;
  }

/* ------------------------------------------------------------
   schedule/faq
   ------------------------------------------------------------*/

   p.q {
    font-weight: 700;
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
  }

  p.a {
    padding-bottom: 10px;
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
  }

  p.time {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 4px;
  }

  p.event {
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
  }


/* ------------------------------------------------------------
   forms
   ------------------------------------------------------------*/

   ul.form-section {
    padding: 0;
  }

  li.form-line {
    list-style: none;
    padding-bottom: 10px;
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
  }

  .form-error-message {
    margin: 5px 0;
  }

  .form-input select,
  .form-input input[type="text"],
  .form-input textarea,
  .form-label,
  .form-label-left,
  .form-label-right {
    width: 260px;
  }
  #label_8, #label_13 {
    margin-top: 10px;
    width: 300px !important;
  }

  .form-radio-item {
    margin-top: 0;
    margin-left: 2px;
  }
  input[type="radio"] {
    margin-right: 4px;
  }

  .form-all {
    font: 14px Source Sans Pro;
  }
  .form-all label {
    font-weight: 400;
  }

  .form-input input[type="text"],
  .form-input textarea {
    outline: none;
    border: none;
    padding: 5px;
  }

/* ------------------------------------------------------------
   sponsors
   ------------------------------------------------------------ */

   .unit-content-sponsors {
    font: 14px Raleway;
    font-weight: 700;
    line-height: 16px;
  }
  .unit-content-sponsors img {
    /*border: 1px solid #ccc;*/
    margin-bottom: 20px;
  }

  .sponsors-full p,
  .sponsors-large p,
  .sponsors-medium p,
  .sponsors-small p,
  .sponsors-tiny p {
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
	column-break-inside:avoid;
  }
  
  .sponsors-medium {
	margin-left:auto;
	margin-right:auto;  
  }

  .sponsors-full img,
  .sponsors-large img,
  .sponsors-medium img,
  .sponsors-small img,
  .sponsors-tiny img {
    -webkit-filter: grayscale(100%);
  }

  .sponsors-full img:hover,
  .sponsors-large img:hover,
  .sponsors-medium img:hover,
  .sponsors-small img:hover,
  .sponsors-tiny img:hover {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  }

  .sponsors-full img {
    display: block;
    width: 100%;
  }
  .sponsors-large img {
    display: block;
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .sponsors-medium img {
    display:block;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .sponsors-small img {
    display: block;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .sponsors-tiny img {
    display: block;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  a.sponsor-link:link {
  	
  }
  
  a.sponsor-link:visited {
  
  }
  
  .sponsors-box-full,
  .sponsors-box-large,
  .sponsors-box-medium,
  .sponsors-box-small,
  .sponsors-box-tiny {
	display:inline-block;
  	margin-bottom:20px;
	width:48%;
	vertical-align:top;
  }
  
  .sponsors-box-small {
	margin-bottom:10px;  
  }
  .sponsors-box-tiny {
	margin-bottom:0px;  
  }
  
  .sponsors-box-full,
  .sponsors-box-large {
	display:block;
	width:100%;  
  }
  
  .sponsors-box-wrapper {
  	display:none;
  }
  
  .sponsors-box-arrow {
  	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-bottom: 20px solid #e5e5e5;
	margin: 0 auto; 
	margin-bottom:-5px;
	margin-top:-10px;
  }
  
  .sponsors-box-blurb {
  	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
   	background:#e5e5e5;
   	padding:10px;
   	font: 15px Source Sans Pro
  }

/* ------------------------------------------------------------
   footer
   ------------------------------------------------------------*/

   .footer p {
    margin-bottom: 5px;
  }

  .footer a {
    color: #fff;
  }

  .footer {
    background-color: #222;
    color: #ccc;
    font-family: Raleway;
  }

  .footer-content {

    margin: 20px;
    padding: 40px 0;
    display: inline-block;
  }

  .footer-social {
    float: right;
    margin: 10px 20px;
    padding: 40px 0;
    display: inline-block;
  }

  .footer-social:hover
  {

  }


